#app {
  .container {
    @media (min-width: 1600px) {
      max-width: 1440px;
    }
  }

  img {
    max-width: 100%;
  }

  ul {
    margin-bottom: 0;
    padding: 0;
  }
}

* {
  color: $brown;
}
